@font-face {
    font-family: 'Effra', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Effra_Regular.ttf);
}

@font-face {
    font-family: 'Effra', sans-serif;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/Effra_Light.ttf);
}

@font-face {
    font-family: 'Effra', sans-serif;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Effra_Bold.ttf);
}

@font-face {
    font-family: 'Effra', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Effra_Heavy.ttf);
}

@font-face {
    font-family: 'GoodDogNew', serif;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/GoodDog_Regular.ttf);
}

@font-face {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Effra_Heavy.ttf);
}

@font-face {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Inter-Medium.ttf);
}