html{
    box-sizing: border-box;
}
*, 
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
body{
    font-size: 18px;
    font-family: 'Effra', 'GoodDogNew', 'Roboto', 'Inter', sans-serif;
}

.visually-hidden{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.container{
    max-width: 1440px;
    padding: 0 80px;
    margin: auto;
}

//global styles button

.btn {
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-decoration: none;
    &--white {
        color: #000000;
        background-color: #FFFFFF;
    }
    &--succes {
        color: #000000;
        background: #A8FF35;
    }
    &--black {
        color: #FFFFFF;
        background-color: #000000;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 18px;
    }
}